.padding-top0
{
	padding-top: 0px;
}
.padding0
{
	padding: 0px;
}
.blue
{
	background-color: rgb(95, 162, 221);
	
}
.heading
{
	fill: rgb(95, 162, 221);
    fill-rule: nonzero;
    x: 0;
    y: 0;
    width: 300;
    height: 44;
}
.nav-tabs> li> a {
    color: #FFF;
    font-weight: 400;
}
.nav-check-save>li>a:hover, .nav-check-save>li>a:focus {
    text-decoration: none;	
	color: white !important;
    background-color: rgb(95, 162, 221) !important;
}
.nav-menu-hs{
	padding-left: 10px !important;
	font-size: 14px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important; 
	width: 100%;
	color: black !important;
}
.nav-list-hs{
	padding-left: 12px !important;
	font-size: 14px !important;
	padding-top: 13px !important;
	padding-bottom: 13px !important; 
	width: 100%;
	color: black !important;
}
.nav-list-hs-sub{
	font-size: 14px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	width: 100%;
	color: black !important;
}
.padding-right0
{
	padding-right: 0px;
}
.rowedit
{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.btn-sidebar
{
    background-color: #F6F6F6 !important;
    border: 0.5px solid #E4E4E4;
    color: gray !important;
    height: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 10px;
    padding-bottom: 7px !important;
    padding-top: 7px !important;
    font-size: 15px;
    padding-right: 13px !important;
    padding-left: 13px !important;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
    background-color: #f3f2f2 !important;
}
.hovbtn>button:hover
{
	 background-color: #e8e6e6 !important;
}
.btn-admin
{
	border-radius: 0px;
    color: white;
    font-size: 13px;
    width: 15%;
}
.orange
{
	background-color: #F5821F;
}
.profile:hover
{
	background-color: #EFF5FB !important;
}